
  @import url('https://fonts.googleapis.com/css2?family=Aleo&family=Poiret+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
}
.wealth{
  height: 700px;
}
.content{
  margin-top: 40px !important;
  width: 90%;
  height: 680px;
  background-color: #f9e0e5; 
  background-image: url(images/puppy.png);
  background-size: 710px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y:70px; 
  background-position-x: 638px;
  margin: 0 auto;
  border-radius: 20px;
}
 h1{
    font-family: 'Poiret One', sans-serif;
    font-size:90px;
    color: rgb(247, 188, 99);
    padding-left: 120px;
    padding-top: 75px;
}
 .content .main{
    font-family:'Nunito', sans-serif;
    color:#615d5d;
    font-size:21px;
    padding-left: 118px;
    font-weight: 300;
    margin-top: 50px;
  }
  h2{
    font-family: sans-serif;
    font-size:23px;
    padding-left: 113px;
    font-weight:400;
    color:#514d4d;
    margin-top:28px;
  }
  .btn{
    display: flex;
    flex-direction: row;
    margin-left: 103px;
    margin-top:65px;
    align-items: center;

  }
 button{
    border-radius:50px;
    padding: 25px 40px;
    font-size: 18px;
    width: 215px;
    text-align: center;
    background-color:#3c97e1;
    border: none;
    color: white;
}
.btn .sub{
    font-size: 15px;
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(149, 149, 165);
    line-height: 1.6;
    font-weight: 600;
 }
@media only screen and (max-width:1400px) and (min-width:1201px) {
  .content{
    height: 675px;
    background-position-y:20px; 
    background-position-x: 467px;
  }
  h1 {
    padding-left: 96px;
  }
  .content .main{
    font-size:20px;
    padding-left: 92px;
  }
  h2{
    font-size:21px;
    padding-left:80px;
  }
  .btn{
  margin-left: 60px;
  }
}
@media only screen and (max-width:1200px) and (min-width:993px){
  .content{
    height: 675px;
    background-size: 576px;
    background-position-y:128px; 
    background-position-x: 402px;
  }
  h1 {
    padding-left: 75px;
    font-size: 80px;
  }
  .content .main{
    padding-left: 78px;
  }
  h2{
    font-size:19px;
    padding-left:75px;
  }
  .btn{
  margin-left: 50px;
  }
  button{
    font-size: 15px;
    width: 163px;
  }
  .btn .sub{
    font-size: 13px;
  }
}
@media only screen and (max-width:992px) and (min-width:768px){
  .content{
    background-position: bottom;
    height: 820px;
    background-size: 400px;
    background-position-y:484px;
    text-align:center;
  }
  h1{
    font-size: 70px;
    padding-left: 10px;
  }
  .content .main{
    font-size:18px;
    padding-left: 10px;
  }
  h2{
    font-size:19px;
    padding-left: 10px;
  }
  .btn{
    margin-left:157px;
    margin-top:45px;
  }
}
@media only screen and (max-width:767px) and (min-width:574px){
  h1{
    font-size: 40px;
    padding-left: 10px; 
  }
  .content .main{
    font-size:15px;
    padding-left: 10px;
  }
  h2{
    font-size:19px;
    padding-left: 10px;
  }
  .btn{
    margin-top: 35px;
  }
  button{
    font-size: 16px;
    width: 173px;
  }
  .content{
    height: 850px;
    background-position: bottom;
    background-size: 425px;
    background-position-y:450px;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width:573px) and (min-width:320px){
  .content{
    height: 900px;
    background-position: bottom;
    background-size: 397px;
    align-items: center;
    text-align: center;
  }
  h1{
    font-size: 40px;
    padding-left: 10px; 
  }
  .content .main{
    font-size:15px;
    padding-left: 10px;
  }
  h2{
    font-size:19px;
    padding-left: 10px;
  }
  .btn{
    margin-top: 35px;
    margin-left:10px;
  }
  button{
    font-size: 14px;
    width: 150px;
    padding: 17px 19px;
  }
  .btn .sub{
    font-size: 13px;
  }
}
 